streamlit==1.55.0
pandas
openpyxl
numpy
pyarrow
pdfplumber
XlsxWriter
sqlalchemy
psycopg2-binary
pg8000           
xlrd
python-barcode 
Pillow 
streamlit-keyup
psutil
beautifulsoup4
requests
Authlib>=1.3.2,<2
